name: Concurrency

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: test-env
    concurrency: 
      group: test-${{ github.head_ref }}
      cancel-in-progress: true
    
    steps:
#     - uses: actions/checkout@v2
    
    - name: Run a one-line script
      run: echo Hello from Octo Organization > artifact.txt
    - uses: actions/upload-artifact@v2
      with:
        name: my-artifact-${{ github.head_ref }}
        path: artifact.txt
